canvas{
    background-color: white;
    border:1px solid black;
    position:relative;
    left: 50px;
}

div{
    background: white;
    width: 5em;
    display:inline-block;
    border-style:solid;
    padding: 1em;
    margin: 1em;
}
#name{
    background-color: white;
    text-align: center;
}

#size{
    background-color: white;
    text-align: center;
}

#bl{
    background-color: blue;
    border-style:none;
    width: .5em;
    display:inline-block;
    padding: .5em;
    position: relative;
    top: 20px;
}
#rd{
    background-color: red;
    border-style:none;
    width: .5em;
    display:inline-block;
    padding: .5em;
    position: relative;
    top: 20px;
}
#gr{
    background-color: green;
    border-style:none;
    width: .5em;
    display:inline-block;
    padding: .5em;
    position: relative;
    top: 20px;
}
#yl{
    background-color: yellow;
    border-style:none;
    width: .5em;
    display:inline-block;
    padding: .5em;
    position: relative;
    top: 20px;
}
#b{
    background-color: black;
    border-style:none;
    width: .5em;
    display:inline-block;
    padding: .5em;
    position: relative;
    top: 20px;
}
#er{
    background-color: white;
    border-style:none;
    width: .5em;
    display:inline-block;
    padding: .5em;
    position: relative;
    top: 20px;
}
[contenteditable]{
    outline:none;
}
button{
    display:inline-block;
}
body{
    background-color: orange;
}